In [9]:
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

load_dotenv()

# Load environment variables
DB_HOST = os.getenv('DB_HOST')
DB_USER = os.getenv('DB_USER')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_NAME = os.getenv('DB_NAME')

# Connect to the MySQL database
def connect_to_database(host, user, password, database):
    try:
        print("Connecting to the database...")
        engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}/{database}")
        print("Connection successful")
        
        return engine
    except Exception as err:
        print(f"Error: {err}")
        return None
   
# Create connection and SQL query 
engine = connect_to_database(DB_HOST, DB_USER, DB_PASSWORD, DB_NAME)
query = "SELECT * FROM youtuber"

# Fetch data and convert into pandas dataframe
dataframe = pd.read_sql(sql= query, con= engine)

# Show 5 rows of the dataframe
dataframe.head()

Connecting to the database...
Connection successful

   id          name subscribers       category
0   1      MR Beast     3200000  Entertainment
1   2      Campus X     3200000      Education
2   3  Next Workout     3200000        Fitness
3   4    Ali Abdaal     3200000   Productivity
4   5    Veritasium    13000000        Science